<div
  class="max-w-md mx-auto mt-10 p-6 bg-white dark:bg-gray-800 shadow-md rounded-lg"
>
  <h2 class="text-2xl font-bold mb-4 text-blue-600">Crear cuenta</h2>
  <form (ngSubmit)="registrar()">
    <label class="block mb-2 text-sm font-medium text-gray-700">
      Nombre
      <input
        type="text"
        [(ngModel)]="nombre"
        name="nombre"
        class="w-full mt-1 p-2 border rounded-md dark:bg-gray-700 dark:text-white"
        required
      />
    </label>
    <label class="block mb-2 text-sm font-medium text-gray-700">
      Email
      <input
        type="email"
        [(ngModel)]="correo"
        name="correo"
        class="w-full mt-1 p-2 border rounded-md dark:bg-gray-700 dark:text-white"
        required
      />
    </label>
    <label class="block mb-4 text-sm font-medium text-gray-700">
      Contraseña
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        class="w-full mt-1 p-2 border rounded-md dark:bg-gray-700 dark:text-white"
        required
      />
    </label>
    <button
      type="submit"
      class="w-full bg-blue-600 hover:bg-blue-700 hover:scale-105 transition-all duration-300 text-white py-2 px-4 rounded"
    >
      Registrarse
    </button>
  </form>
</div>
