<br />
<section
  class="w-full bg-gray-200 dark:bg-gray-900 rounded-3xl py-12 px-4 md:px-16 animate-fade-in text-gray-900 dark:text-gray-100"
>
  <div class="max-w-7xl mx-auto">
    <h2 class="text-3xl md:text-5xl font-bold text-center mb-12">
      Últimas noticias de discotecas
    </h2>
    <hr class="border-gray-400 dark:border-gray-600" />

    <div class="grid pt-2 grid-cols-1 md:grid-cols-3 gap-8">
      <!-- Noticia con *ngFor -->
      <div
        *ngFor="let noticia of noticias"
        class="bg-white rounded-xl overflow-hidden hover:scale-105 shadow hover:shadow-lg transition duration-300"
      >
        <img
          [src]="noticia.imagen"
          [alt]="noticia.titulo"
          class="w-full h-48 md:h-64 object-cover"
        />
        <div class="p-4 md:p-6 dark:bg-gray-800 h-full">
          <h3 class="text-xl md:text-2xl font-semibold mb-2">
            {{ noticia.titulo }}
          </h3>
          <p class="text-sm md:text-base text-gray-600 dark:text-gray-300">
            {{ noticia.descripcion }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
