<div class="min-h-screen transition-colors duration-300">
  <div class="container mx-auto px-4 py-8">
    <h1
      class="text-4xl font-bold mb-4 text-gray-800 dark:text-white animate-fadeIn"
    >
      Discotecas Madrid
    </h1>
    <hr class="border-gray-300 dark:border-gray-700 mb-8" />

    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 animate-fadeIn"
    >
      <div
        *ngFor="let discoteca of discotecas; let i = index"
        class="bg-white dark:bg-gray-800 rounded-lg shadow-md dark:shadow-white overflow-hidden transition-transform duration-300 hover:scale-105"
      >
        <img
          class="w-full h-48 object-cover"
          [src]="discoteca.imagen"
          [alt]="discoteca.nombre"
        />
        <div class="p-4 dark:bg-gray-800">
          <h5 class="text-xl font-bold mb-2 text-gray-800 dark:text-white">
            {{ discoteca.nombre }}
          </h5>
          <p class="text-gray-600 dark:text-gray-300 mb-4">
            {{ discoteca.descripcion }}
          </p>
          <ul class="space-y-2 text-sm text-gray-500 dark:text-gray-400">
            <li class="flex">
              <span class="font-medium text-gray-700 dark:text-gray-300 w-24"
                >Ubicación:</span
              >
              <span>{{ discoteca.ubicacion }}</span>
            </li>
            <li class="flex">
              <span class="font-medium text-gray-700 dark:text-gray-300 w-24"
                >Horario:</span
              >
              <span>{{ discoteca.horario }}</span>
            </li>
            <li class="flex">
              <span class="font-medium text-gray-700 dark:text-gray-300 w-24"
                >Música:</span
              >
              <span>{{ discoteca.musica.join(", ") }}</span>
            </li>
            <li class="flex">
              <span class="font-medium text-gray-700 dark:text-gray-300 w-24"
                >Edad mínima:</span
              >
              <span>{{ discoteca.edadMinima }} años</span>
            </li>
            <li class="flex">
              <span class="font-medium text-gray-700 dark:text-gray-300 w-24"
                >Precio entrada:</span
              >
              <span>{{ discoteca.precioEntrada }} €</span>
            </li>
          </ul>
        </div>

        <div class="px-4 pb-4 dark:bg-gray-800">
          <a
            [routerLink]="['/discoteca', i]"
            class="block w-full py-2 px-4 text-center rounded-md border border-blue-500 text-blue-500 hover:bg-blue-500 hover:text-white transition-colors duration-300 dark:border-blue-400 dark:text-blue-400 dark:hover:bg-blue-600 dark:hover:text-white"
          >
            Ver más
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
